<ion-header>
    <ion-toolbar>
      <ion-title>Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  </ion-content>
  
  <ion-footer>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Firstname</ion-label>
            <ion-input type="text" placeholder="John"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Last</ion-label>
            <ion-input type="text" placeholder="Smith"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="email" placeholder="user@example.com"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="********" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Confirm password</ion-label>
            <ion-input type="password" placeholder="********" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink='/home' color="success">Log in</ion-button>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <div class="more">
            <p class="ion-float-left" routerLink='/login'>LogIn</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
        
    <ion-toolbar>
  
      <p class="footer">Terms and conditions</p>
    </ion-toolbar>
  </ion-footer>