p.footer {
    text-align: center;
    font-size: 12px;
    color: rgb(172, 172, 172);
}
.logo {
    margin-top: 30%;;
    padding: 10%;
}
.more p {
    text-align: center;
    font-size: 14px;
    color: rgb(80, 143, 180);
}