<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor='let article of listOfArticles' (click)='onGoToNewsDetailsPage(article)'>
      <ion-img *ngIf='article.urlToImage' [src]='article.urlToImage' (error)="this.src='https://picsum.photos/200/300'"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{ article.publishedAt | date:'medium' }}</ion-card-subtitle>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ article.description }}</p>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more articles...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>